nav {
  background: #fff;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 95%;
  height: 72px;
  box-shadow: none;
}

nav #nav-mobile {
  display: none;
}

nav ul a, nav .brand-logo {
  color: #24272A;
  font-weight: bold;
  padding-top: 4px;
}

nav ul a {
  font-size: large;
  border-left: 0.1px solid #ddd;
}

nav ul a:hover {
  background-color: initial;
  color: #8CBA11;
  border-bottom: 4px solid #8CBA11;
}

nav ul li.active {
  background-color: initial;
}

nav ul li.active a {
  border-bottom: 4px solid #8CBA11;
}

nav .brand-logo {
  font-family: 'BigNoodleToo', Impact, sans-serif;
  font-size: 50px;
  padding-left: 15px;
}

nav .brand-logo:hover {
  color: #8CBA11;
  padding-left: 15px;
}