pre.bordered code {
  border: 1px solid grey;
  padding: 10px;
  background-color: #31373F;
  border-radius: 5px;
  line-height: 3;
}

.copy-anchor {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid grey;
}

.collection {
  border: none;
}

.collection .collection-item {
  background-color: #31373F;
  border-color: #414852;
}