body {
  margin: 0;
  padding: 0;
  background-color: #424242;
}

/* h5 {
  font-style: italic;
} */

main > div > .row:last-child {
  background-color: #E1E1E1;
  padding-top: 10px;
}

.jumbo {
  background-image: url("/img/bg.png");
  background-size: cover;
  height: 25vh;
  margin-bottom: 0;
}

.card-action button {
  width: 100%;
  padding: 0 10px 0 10px;
}

.card-action .row {
  margin-bottom: 0;
}

nav {
  background: transparent;
  position: absolute;
  box-shadow: none;
}

/* .pkg-left-info code { */
pre.bordered code {
  border: 1px solid grey;
  padding: 10px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  line-height: 3;
}

.copy-anchor {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid grey;
}

a .card * {
  color: initial;
}