body {
  margin: 0;
  padding: 0;
  background-color: #E1E1E1;
}

h5 {
  font-style: italic;
}

.jumbo {
  background-image: url("/img/bg.jpg");
  background-size: cover;
}

.card-action button {
  width: 100%;
  padding: 0 10px 0 10px;
}

.card-action .row {
  margin-bottom: 0;
}