body {
  margin: 0;
  padding: 0;
  background-color: #E1E1E1;
}

h5 {
  font-style: italic;
}

.jumbo {
  background-image: url("/img/bg.png");
  background-size: cover;
  height: 25vh;
}

.card-action button {
  width: 100%;
  padding: 0 10px 0 10px;
}

.card-action .row {
  margin-bottom: 0;
}

nav {
  background: transparent;
  position: absolute;
  box-shadow: none;
}